<section class="bg-main-light p-3 my-5 rounded-2 mx-auto w-75 shadow">
    <h1 class="text-main fs-1 fw-bold">Reset Your Password:</h1>
    <!-- @if(resText&&resText!=='success'){
        <p class="mb-0 mt-3 alert alert-danger fw-bold mx-auto">{{resText}}</p>
    }@else if(resText&&resText=='success'){
        <p class="mb-0 mt-3 alert alert-success text-success fw-bold mx-auto">{{resText}}</p>
    } -->
    <form [formGroup]="Form" class="py-3" (ngSubmit)="reset()" >
        <div class="my-3">
            <label class="mb-2" for="email"><span class="text-danger">*</span>Email: </label>
            <input  [ngClass]="{
                'is-valid':!Form.get('email')?.errors &&( Form.get('email')?.touched ||  Form.get('email')?.dirty),
                'is-invalid':Form.get('email')?.errors&& ( Form.get('email')?.touched ||  Form.get('email')?.dirty)
            }" id="email" type="email" class="form-control" formControlName="email" placeholder="Ex:email@gmail.com">
            @if(Form.get('email')?.errors&& Form.get('email')?.touched){
                <div class="alert alert-warning fs-6 my-3 rounded-2 fw-bold">
                    @if(Form.get('email')?.getError('required')){<p class="m-0">Email is required</p>}
                    @else if(Form.get('email')?.getError('email')){<p class="m-0">Email format not correct</p>}
                </div>

            }
        </div>
        <div class="my-3">
            <label class="mb-2" for="newPassword"><span class="text-danger">*</span>new Password: </label>
            <input  [ngClass]="{
                'is-valid':!Form.get('newPassword')?.errors &&( Form.get('newPassword')?.touched ||  Form.get('newPassword')?.dirty),
                'is-invalid':Form.get('newPassword')?.errors&& ( Form.get('newPassword')?.touched ||  Form.get('newPassword')?.dirty)
            }" id="newPassword" type="password" class="form-control" formControlName="newPassword">
            @if(Form.get('newPassword')?.errors&& Form.get('newPassword')?.touched){
                <div class="alert alert-warning fs-6 my-3 rounded-2 fw-bold">
                    @if(Form.get('newPassword')?.getError('required')){<p class="m-0">Password is required</p>}
                    @else if(Form.get('newPassword')?.getError('pattern')){<p class="m-0">Password length must be at least 6</p>}
                </div>

            }
        </div>
       <div class="d-flex justify-content-between">
        <button class="btn btn-main  w-25 text-white" type="submit" [disabled]="Form.invalid">Reset</button>
       </div>
      </form>
    </section>
