<section>
  <div class="container">
    <form [formGroup]="Form" class="py-3" (ngSubmit)="verify()">
        <div class="my-3">
            <label class="mb-2" for="email"><span class="text-danger">*</span>Enter your Email to verify</label>
            <input  [ngClass]="{
                'is-valid':!Form.get('email')?.errors &&( Form.get('email')?.touched ||  Form.get('email')?.dirty),
                'is-invalid':Form.get('email')?.errors&& ( Form.get('email')?.touched ||  Form.get('email')?.dirty)
            }" id="email" type="text" class="form-control" formControlName="email" placeholder="Ex:email@gmail.com">
            @if(Form.get('email')?.errors&& Form.get('email')?.touched){
                <div class="alert alert-warning fs-6 my-3 rounded-2 fw-bold">
                    @if(Form.get('email')?.getError('required')){<p class="m-0">Email is required</p>}
                    @else if(Form.get('email')?.getError('email')){<p class="m-0">Email format not correct</p>}
                </div>

            }
        </div>
        <button class="btn btn-outline-success" >Verify</button>
    </form>  
  </div>  
</section>
