<section>
    <div class="container">
      <form [formGroup]="Form" class="py-3" (ngSubmit)="verify()">
          <div class="my-3">
              <label class="mb-2" for="resetCode"><span class="text-danger">*</span>Enter your resetCode to verify</label>
              <input id="resetCode" type="text" class="form-control" formControlName="resetCode" placeholder="123...">
          </div>
          <button class="btn btn-outline-success" >Verify</button>
      </form>  
    </div>  
  </section>
  