<section class="bg-main-light p-3 my-5 rounded-2 mx-auto w-75 shadow">
    <h1 class="text-main fs-1 fw-bold">Login Now:</h1>
    @if(resText&&resText!=='success'){
        <p class="mb-0 mt-3 alert alert-danger fw-bold mx-auto">{{resText}}</p>
    }@else if(resText&&resText=='success'){
        <p class="mb-0 mt-3 alert alert-success text-success fw-bold mx-auto">{{resText}}</p>
    }
    <form [formGroup]="loginForm" class="py-3" (ngSubmit)="loginUser()">
        <div class="my-3">
            <label class="mb-2 fw-bolder" for="email"><span class="text-danger">*</span>Email: </label>
            <input  [ngClass]="{
                'is-valid':!loginForm.get('email')?.errors &&( loginForm.get('email')?.touched ||  loginForm.get('email')?.dirty),
                'is-invalid':loginForm.get('email')?.errors&& ( loginForm.get('email')?.touched ||  loginForm.get('email')?.dirty)
            }" id="email" type="text" class="form-control" formControlName="email" placeholder="Ex:email@gmail.com">
            @if(loginForm.get('email')?.errors&& loginForm.get('email')?.touched){
                <div class="alert alert-warning fs-6 my-3 rounded-2 fw-bold">
                    @if(loginForm.get('email')?.getError('required')){<p class="m-0">Email is required</p>}
                    @else if(loginForm.get('email')?.getError('email')){<p class="m-0">Email format not correct</p>}
                </div>

            }
        </div>
        <div class="my-3">
            <label class="mb-2 fw-bolder" for="password"><span class="text-danger">*</span>Password: </label>
            <input  [ngClass]="{
                'is-valid':!loginForm.get('password')?.errors &&( loginForm.get('password')?.touched ||  loginForm.get('password')?.dirty),
                'is-invalid':loginForm.get('password')?.errors&& ( loginForm.get('password')?.touched ||  loginForm.get('password')?.dirty)
            }" id="password" type="password" class="form-control" formControlName="password">
            @if(loginForm.get('password')?.errors&& loginForm.get('password')?.touched){
                <div class="alert alert-warning fs-6 my-3 rounded-2 fw-bold">
                    @if(loginForm.get('password')?.getError('required')){<p class="m-0">password is required</p>}
                    @else if(loginForm.get('password')?.getError('pattern')){<p class="m-0">password length must be at least 6</p>}
                </div>

            }
        </div>
        <div class="d-flex  flex-column ">
            <button class="btn btn-main col-12 col-md-4 text-white mb-3" type="submit" [disabled]="loginForm.invalid">Login
                @if(isLoading){
                    <span><i class="fa-solid fa-circle-notch fa-spin"></i></span>
                }
            </button>
            <span class=" forget fw-bolder cursor-pointer" (click)="forget()">Forget Password?</span>
           </div>
      
      </form>
</section>
